.color {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
}

.target {
    margin-top: 15px;
    width: 250px;
    height: 250px;
}

.radial-color-picker {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.radial-color-picker .shape {
    cursor: pointer;
}
